Animals!

<ul class="animals">
  <li>{{#link-to 'animals.cats' class= "cats "}}Cats{{/link-to}}</li>
  <li>{{#link-to 'animals.dogs' class= "dogs"}}Dogs{{/link-to}}</li>
  <li>{{#link-to 'animals.ducks' class= "ducks"}}Ducks{{/link-to}}</li>
</ul>