Animals!

<ul class="animals">
  <li>{{#link-to 'cats.index' class= "cats "}}Cats{{/link-to}}</li>
  <li>{{#link-to 'dogs.index' class= "dogs"}}Dogs{{/link-to}}</li>
  <li>{{#link-to 'ducks.index' class= "ducks"}}Ducks{{/link-to}}</li>
</ul>